#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.youtubeForm-container {
  margin: 10% auto;
  width: 500px;
  background: linear-gradient(to right,rgb(228, 227, 227), white, grey, black);
  border: 1px solid black;
  padding: 20px 40px;
  box-sizing: border-box;
}

.youtubeForm-container > form {
  text-align: left;
  margin: 0;
}

.youtubeForm-container > form > input {
  margin: 0;
  width: 90%;
  padding: 12px 18px;
  margin-bottom: 20px;
  border: none;
  margin-top: 10px;
}

.youtubeForm-container > form > label {
  font-size: 20px;
  font-weight: 600;
}

.youtubeForm-container > form > button {
  border: none;
  padding: 8px 20px;
  font-size: 18px;
  background: black;
  color: white;
  border-radius: 24px;
}
